.footer-body{
    display: flex;
   justify-content: space-around;
   max-width: 600px;
   margin: 50px, 0, 0, 0;
}

.title{
    flex-direction: column;
   font-size: 20px;
   font-weight: 800;
   flex: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

.itens{
    color: rgb(95, 27, 27);
    flex-direction: column-reverse;
   font-size: 16px;
   font-weight: 100;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin-bottom: 45px;
   margin-top: 20px;
}